/* Remove browser defaults */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* App.js */
.App {
    width: 100vw;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Tabs {
    width: 80%;
    height: auto;
    min-height: 400px;
    background: #053742;
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #E8F0F2;
    border-radius: 2rem;

    @media (max-width: 769px) {
        padding: 2rem 0;
    }
}