/* Remove browser defaults */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* App.js */
.App {
    width: 100vw;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}